// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.delete-btn {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: red;
    position: absolute;
    right: 5px;
}

span.button-span {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

span.button-span span:first-child {
    margin-right: 10px;
}

span.button-span span:first-child a {
    color: rgb(31, 202, 31);
}

span.button-span span:last-child a {
    color: rgb(235, 68, 68);

}
#search_button{
    margin-top: 30px;
}

span.product-header-title{
    color: rgb(3, 15, 179);
    text-decoration: underline;
    font-weight: bold;
}

a.remove-option{
    color: rgb(235, 68, 68);;
}

a.activate-image-upload{
display: block;

}
a.activate-image-upload:hover{
}

.image-card-upload img{
}
.image-card-upload .card-body i{
    font-size: 6rem;
    color:rgb(105, 184, 85);
}
.image-card-upload a.remove-image-upload{
font-size: 2rem;
color: rgb(216, 0, 0);
position: absolute;
top: 15px;
right: 15px;
z-index: 99999;
display: none;
}
input.image-file-upload{
    display: none;
}
